In [1]:
%load_ext autoreload
%autoreload 1

In [2]:
import os
import pandas as pd

In [3]:
import mediator_was.processing.bslmm as bslmm

In [4]:
config = bslmm.config

In [5]:
studies = bslmm.parse_studies()

In [6]:
studies.keys()

['NTR', 'YFS']

In [7]:
studies['YFS'].head()

      SNP_ID   SNP_Pos Ref_Allele Alt_Allele      beta    Gene
0  rs1402325  44105736          A          G -0.088050  ZNF224
1   rs304719  44108635          G          A -0.022893  ZNF224
2   rs368745  44124368          T          G -0.149900  ZNF224
3     rs3046  44124735          T          C  0.075660  ZNF224
4   rs400058  44141015          T          C  0.020551  ZNF224

In [8]:
studies['NTR'].head()

       SNP_ID   SNP_Pos Ref_Allele Alt_Allele    beta    Gene
0  rs10224910  43125018          G          A  0.0202  STK17A
1  rs10254637  43125197          A          C  0.0155  STK17A
2   rs7793393  43129868          G          A  0.0182  STK17A
3   rs7798775  43147965          G          A  0.0288  STK17A
4   rs4724175  43149715          T          G  0.0149  STK17A

In [9]:
for study, study_df in studies.iteritems():
    fn = 'BSLMM_%s_aggregated.tsv' % study
    study_df.to_csv(os.path.join(config['analysis']['dir'],
                                 fn),
                    sep='\t')